<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-3">
            <form action="{{ url_for('receive_data') }}" method="post">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" placeholder="name@example.com" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">

                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" placeholder="password" id="exampleInputPassword1" name="password">

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>


</body>
</html>


