{% from "bootstrap5/form.html" import render_form %} {% block content %} {%
include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/potato_plant2.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">


          <h1>Ideas and Suggestions</h1>
          <span class="subheading"
            >Thanks for coming up with Great Ideas and Suggestions.</span
          >
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ ckeditor.load() }} {{ ckeditor.config(name='body') }} {{
        render_form(form, novalidate=True, button_map={"submit": "primary"}) }}

        <a
          class="btn btn-secondary float-left"
          href="{{url_for('get_all_ideas')}}"
          > Show All</a>
      </div>
    </div>
  </div>
</main>
{% endblock %}